@import 'antd/dist/antd.min.css';

.tring-meeting-lobby {
  display: grid;
  grid-template-columns: 70% 28%;
  grid-template-rows: 1fr;
  gap: 20px;
  height: 100%;
  padding: 20px;
}

.tring-meeting-lobby .create-meeting,
.tring-meeting-lobby .join-meeting {
  display: flex;
  border: 1px solid #ececec;
  border-radius: 6px;
  position: relative;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  box-sizing: border-box;
  padding: 20px;
}

.tring-meeting-lobby .create-meeting h1 {
  font-size: 25px;
}

.tring-meeting-lobby .create-meeting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tring-meeting-lobby .create-meeting .meeting-id {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  border: 1px solid #ececec;
  border-radius: 6px;
  padding: 5px;
  width: 70%;
}

.tring-meeting-lobby .create-meeting .meeting-id span:nth-child(1) {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tring-meeting-lobby .create-meeting .meeting-id .copy {
  display: inline-block;
  background-color: #ececec;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.tring-meeting-lobby .create-meeting .meeting-type {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.tring-meeting-lobby .create-meeting form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.tring-meeting-lobby .create-meeting form .meeting-title {
  /* // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column; */
}

.tring-meeting-lobby .create-meeting form .meeting-description {
  /* // padding: 15px;
  // width: 75%;
  // background-color: #f6f6f6;
  // min-height: 80px;
  // border-radius: 6px; */
  width: 700px;
}

.tring-meeting-lobby .create-meeting form .meeting-description .textarea-description{
  padding: 16.5px 14px;
  background-color: #f6f6f6;
  border-radius: 6px;
}

.tring-meeting-lobby .create-meeting form .meeting-description .textArea {
  width: 100%;
  min-height: 80px;
  overflow-y: hidden;
  background-color: transparent;
  font-size: 16px;
  line-height: 21px;
  color: #1a1c1a;
  border: none;
  resize: none;
}

.tring-meeting-lobby .create-meeting form .meeting-description .textArea:focus,
.tring-meeting-lobby .create-meeting form .meeting-description .textArea:active {
  outline: none;
  border: none;
}

.tring-meeting-lobby .create-meeting form .meeting-time-date {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: center;
}

.tring-meeting-lobby .create-meeting form .meeting-time-date .date {
  box-sizing: border-box;
  height: 41px;
  width: 140px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.tring-meeting-lobby .create-meeting form .meeting-time-date .startDate,
.tring-meeting-lobby .create-meeting form .meeting-time-date .endDate,
.tring-meeting-lobby .create-meeting form .meeting-time-date .startTime,
.tring-meeting-lobby .create-meeting form .meeting-time-date .endTime {
  display: flex;
  flex-direction: column;
}

.tring-meeting-lobby .create-meeting form .meeting-time-date .MuiOutlinedInput-input {
  padding: 10px !important;
}

.tring-meeting-lobby .create-meeting form .add-guest {
  width: 75%;
  height: 41px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #f6f6f6;
}

.tring-meeting-lobby .create-meeting form .add-guest .avatar-div {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
}

.tring-meeting-lobby .create-meeting form .add-guest .avatar-div .MuiAvatar-root {
  width: 24px;
  height: 24px;
  font-size: 10px;
}

.tring-meeting-lobby .create-meeting form .cta {
  width: 25%;
  margin-top: 20px;
}

.tring-meeting-lobby .join-meeting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 500px;
  position: relative;
}

.tring-meeting-lobby .join-meeting .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.tring-meeting-lobby .join-meeting .header .date {
  font-size: 18px;
}

.tring-meeting-lobby .join-meeting .meetings-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(80vh - 60px);
  overflow-y: auto;
}

.tring-meeting-lobby .join-meeting .meetings-div .meeting-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tring-meeting-lobby .join-meeting .meetings-div .meeting-card .outer-div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.tring-meeting-lobby .join-meeting .meetings-div .meeting-card .outer-div .title {
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tring-meeting-lobby .join-meeting .meetings-div .meeting-card .outer-div .time {
  font-size: 12px;
  color: #a6a7a6;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tring-meeting-lobby .join-meeting .meetings-div .meeting-card .outer-div .host {
  font-size: 14px;
}

.MuiPickersLayout-root .Mui-selected {
  background-color: #4a9af8 !important;
}

.calender-ant-picker {
  margin-top: -50px !important;
}

.error-message {
  font-size: 12px;
  color: red;
}

.highlight {
  background: rgb(188, 216, 232) !important;
  /* Highlight color */
  border: 1px solid black !important;
  color: black !important;
}